.content .card {
    /* border: none; */
    border-radius: 10px;  
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

#search-user {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 600;
}

.content table thead th {
    font-size: 1.5rem;
    text-align: center;
}

.content table tbody td {
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: center;
}

.content .btn {
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
    border-radius: 6px;
}

.content .pagination .page-item.active .page-link {
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: #fff;
}

.content .pagination .page-link {
    color: #2c3e50;
    border-radius: 5px;
    margin: 0 3px;
}

.content .pagination .page-link:hover {
    background-color: #34495e;
    color: #fff;
}

.content input.form-control,
.content select.form-select {
    font-size: 1.4rem;
    border-radius: 8px;
}

.content h5 {
    font-size: 1.7rem;
    color: #2c3e50;
}

.pagination {
    justify-content: center;
    margin-top: 10px;
}



/* .pagination .page-link {
    color: #e83e8c;
    border-radius: 50%;
    margin: 0 3px;
    transition: all 0.2s ease;
} */

/* .pagination .page-link:hover {
    background-color: #e83e8c;
    color: #fff;
} */

/* .pagination .active .page-link {
    background-color: #e83e8c;
    color: white;
    border-color: #e83e8c;
} */

.info-text {
    text-align: center;
    color: #6c757d;
    font-size: 0.9rem;
    margin-top: 8px;
}